body {
  background-color: #c1c1c1;
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-align: left;
}

p1 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0080d5;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #ffffff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
background-color: #c1c1c1;
}

h1 {
  color: #0080d5;
}

h2 {
  color: #0080d5;
}

p1 {
  color: rgb(255, 255, 255);
  }

p3 {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #c1c1c1;
  text-align: center;
  padding: 0px; 
  color: rgb(0, 0, 0);
}

.h2hobby {
  text-align: right;
}

.h4hobby {
  text-align: right;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #0080d5;
    color: rgb(255, 255, 255);
    text-align: center;
 }

h3 {
  color: #ffffff;
}

.h3hobby {
  text-align: right;
}

.h2pixel {
  text-align: center;
}

.h4pixel {
  text-align: center;
}

iframe {
  box-align: center;
}

img {
  border-radius: 75px;
}
