body {
  background-color: #5476ff;
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-align: left;
}

p1 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255)
}

ul li {
  float: left;
}

ul li a {
  width: 100%;
  display: inline-block;
  color: #000000;
  text-align: left;
  padding: 20px 20px;
  text-decoration: none;
}

ul li a:hover {
background-color: #5476ff;
display: inline-block;
}

h1 {
  color: #5476ff;
}

h2 {
  color: rgb(255, 255, 255);
}

p1 {
  color: rgb(255, 255, 255);
  }

p3 {
  width: 100%;
}

.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0px; 
  color: #5476ff;
}

.h2hobby {
  text-align: right;
}

.h4hobby {
  text-align: right;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #5476ff;
    text-align: center;
 }