body {
  background-color: #f4b41a;
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-align: left;
}

p1 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #143d59;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
background-color: #f4b41a;
}

h1 {
  color: #f4b41a;
}

h2 {
  color: rgb(255, 255, 255);
}

p1 {
  color: rgb(255, 255, 255);
  }

p3 {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #143d59;
  text-align: center;
  padding: 0px; 
  color: rgb(0, 0, 0);
}

.h2hobby {
  text-align: right;
}

.h4hobby {
  text-align: right;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #143d59;
    color: rgb(255, 255, 255);
    text-align: center;
 }